*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bree-Serif;
}

body{
    width: 100%;
    background-color: #212121;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 100%;
}

.nav-bar{
    width: 212px;
    height: 100vh;
    background-color: #FAF3E0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper img{
    width: 180px;
    height: 190px;
    margin-left: 15px;
    margin-top: 30px;
    border-radius: 120px;
    object-fit: cover;
}

.upper h2{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 5px;
    margin-bottom: 100px;
}

.upper .button{
    margin-left: 5px;
    margin-right: 5px;
}

.upper a{
    font-size: 1.7rem;
    text-decoration: none;
    color: #3E4E5E;
    border-radius: 60px;
    margin-left: 10px; 
}

.upper i{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    color: #3E4E5E;
    margin-bottom: 40px;
    padding: 10px;
    transition: background-color 0.5s;
    height: 60px;
    border-radius: 50px; 
}

.upper i:hover{
    background-color: #00C853;
    height: 60px;
    border-radius: 60px; 
}

.lower h3{
   text-align: center;
   font-size: 2rem;
   color: #297FD2;
}

.h-data {
    padding: 20px;
    display: grid;
    grid-template-rows: 50px 350px 1fr;
    max-height: 100vh;
    margin-right: 120px;
}

.top-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h4{
   font-size: 2rem;
   color: #FAF3E0;
}

.expense-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 50px;
}

.page-items{
    border-radius: 5px;
    padding: 60px;
    width: 450px;
    text-align: center;
}

.page-items p{
    font-size: 3rem;
    font-weight: bold;
    margin: 5px 0 0;
}

.page-items h4{
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.page-item1{
    background-color: #faf3e0;
    color: black;
}

.page-item2{
    background-color: #faf3e0;
    color: black;
}

.page-item3{
    background-color: #faf3e0;
    color: black;
}

.page-item1 p{
    color: #d9534f; 
}

.page-item2 p{
    color: #223EA6; 
}

.page-item3 p{
    color: #00C853; 
}

.pie-chart{
    border-radius: 5px;
    margin-left: 50px;
    width: 89%;
    background-color: #faf3e0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pie{
    align-self: center;
    margin-left: 200px;
    flex: 1 0 225px;
    max-width: 325px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: 
    radial-gradient(
        #faf3e0  40%,
        transparent 0 70%,
        #faf3e0 0
    ),  
    conic-gradient(
        red  40%,
        blue 0 70%,
        green 0 80%,
        yellow 0
    );
}

.month-title{
    margin-top: 40px;
    width: 500px;
    display: flex;
    justify-content: center;
}

.caption{
    width: 500px;
    height: 200px;
     margin-top: 50px;
     font-size: 1.5rem;
     display: flex;
     flex-wrap: wrap;
     gap: 8rem;
     justify-content: center;
}

.caption span{
    position: relative;
    padding-inline-start: 1.5rem;
}

.caption span::before{
    position: absolute;
    top: 0.5rem;
    left: 0;
    content: '';
    width: 0.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.caption span:nth-child(1)::before{
    background-color: red;
}

.caption span:nth-child(2)::before{
    background-color: blue;
}

.caption span:nth-child(3)::before{
    background-color: green;
}

.caption span:nth-child(4)::before{
    background-color: yellow;
}