body{
    font-family: Bree-Serif;
    margin: 0;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}
.nav-bar{
    width: 212px;
    min-height: 100vh;
    background-color: #FAF3E0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper img{
    width: 180px;
    height: 190px;
    margin-left: 15px;
    margin-top: 30px;
    border-radius: 120px;
    object-fit: cover;
}

.upper h2{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 5px;
    margin-bottom: 100px;
}

.upper .button{
    margin-left: 5px;
    margin-right: 5px;
}

.upper a{
    font-size: 1.7rem;
    text-decoration: none;
    color: #3E4E5E;
    border-radius: 60px;
    margin-left: 10px; 
}

.upper i{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    color: #3E4E5E;
    margin-bottom: 40px;
    padding: 10px;
    transition: background-color 0.5s;
    height: 60px;
    border-radius: 50px; 
}

.upper i:hover{
    background-color: #00C853;
    height: 60px;
    border-radius: 60px; 
}

.lower h3{
   text-align: center;
   font-size: 2rem;
   color: #297FD2;
}

.content {
    padding: 20px;
    width: 100%;
    background-color: #212121;
    color: #faf3e0;
}

.content h1 {
    margin-bottom: 30px;
}

.budget-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.budget-form input {
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.budget-form input:focus {
    outline: none;
}

.budget-form button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #00c853;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.budget-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.budget-item {
    background-color: #faf3e0;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    text-align: center;
    color: black;
}

.budget-item h3 {
    margin: 0;
    margin-bottom: 10px;
}

.progress-bar {
    height: 10px;
    background-color: lightgray;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar div {
    height: 100%;
    background-color: green;
}
.Wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100%;
}